
@font-face {
    font-family: "Vazir";
    src: url('/operator_dashboard/fonts/Vazir.eot') format('eot'),
        url('/operator_dashboard/fonts/Vazir.woff') format('woff'),
        url('/operator_dashboard/fonts/Vazir.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

.vazirfont {
    font-family: "Vazir" !important;
}

*:not(.fas):not(.fa):not(.bx) {
    font-family: "Vazir" !important;
}
